
body {
    background-color: #C384FB;
    text-align: center;
    cursor: url(http://ani.cursors-4u.net/nature/nat-11/nat1043.ani), url(http://ani.cursors-4u.net/nature/nat-11/nat1038.png), progress !important;}
}

h1 {
    color: white;
    font-family: "Arial Black";
    font-size: 300%;
    text-shadow: 0 0 10px #0000FF;
    text-align: center;
}
p  {
    color: black;
    font-family: Arial;
    font-size: 100%;
    text-align: center;
}
img {
    display: block;
    margin: auto;
}

h2 {
    color: white;
    font-family: "Arial Black";
    font: 175%;
    text-shadow: 0 0 5px #0000FF;
    text-align: center;
}